<h1>Mood Board</h1>

<table class="main-content">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Feeling</th>
    </tr>
  </thead>
  <tbody>
    <% @moods.each do |mood| %>
      <tr>
        <td><%= mood.created_at.strftime("%b %d %Y") %></td>
        <td><%= mood.created_at.strftime("%R") %></td>
        <td <%= class_for_mood(mood) %>><%= mood.user_mood %></td>
      </tr>
      <% end %>
  </tbody>
</table>