@import 'variables';
@import 'mixins';

.axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

path.safe {
    stroke:none;
    fill: rgba(14, 163, 208, 0.25);
}

path.dataline {
  stroke: darken($main-color, 10%);
  fill:none;
}

circle.data-point {
  fill: darken($main-color, 10%);
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  min-width: 100px;                  
  min-height: 30px;                 
  padding: 0.5em;             
  font: 0.75em sans-serif;        
  background: darken($main-color, 30%);
  color: #fff;
  border: 0px;      
  @include border-radiuses(10px, 10px, 10px, 0);           
  pointer-events: none;         
}

g.test:hover {
  text.hidden {
    display: block;
    font-size: 1.5em;
  }
}

.mood-sidebar {
  form.main-content {
    width: 15em;
    margin: .2em auto;
    padding: .22em 0 1px;

    label {
      text-align: center;
      width: 100%;
    }

    input {
      margin-top: .5em;
      width: 80%;
    }

    input[type=submit]{
      width: auto;
      margin: .3em auto;
      padding: 0.5em 0.5em; 
    }
  }
}
