@import 'variables';
@import 'mixins';

.axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

path.safe {
    stroke:none;
    fill: rgba(14, 163, 208, 0.25);
}

path.dataline {
  stroke: darken($main-color, 10%);
  fill:none;
}

circle.data-point {
  fill: darken($main-color, 10%);
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  min-width: 100px;                  
  min-height: 30px;                 
  padding: 0.5em;             
  font: 0.75em sans-serif;        
  background: darken($main-color, 30%);
  color: #fff;
  border: 0px;      
  @include border-radiuses(10px, 10px, 10px, 0);           
  pointer-events: none;         
}
