.wit-microphone {
  margin: 100px auto 0;
  width: 100px;
  height: 100px;
  border: 10px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

div.mic.mic-box {
  background-color: #1692c5;
  width: 80%;
  height: 80%;
  margin: 8px auto;
  border-radius: 50%;
  transition: all 0.2s ease;
  transform: scale(0.94);
}

.wit-microphone.active .mic {
  width: 60%;
  height:60%;
  margin: auto auto;
  vertical-align: center;
  margin-top: 15px;
  border-radius: 12%;
  background-color: red;
}

#info {
  margin-top: 20px;
}

svg.mic-svg {
  display: none;
}
