<ul class="flash-messages">
<% if flash[:errors] && !flash[:errors].empty? %>
  <% flash[:errors].each do |error|%>
    <li class 'flash error'><%= error %></li>
  <% end %>
<% end %>
<% if notice %>
  <li class="notice"><%= notice %></li>
<% end %>
<% if alert %>
  <li class="alert"><%= alert %></li>
<% end %>
</ul>

